.main_container {
    background-color: wheat;
    box-shadow: 0px, 1px, 1.5rem rgba(0, 0, 0, 0.1);
    padding: 10rem, 0;
    border-radius: 10px;
}

.container_1 {
    position: relative;
    top: 75px;
    right: 600px;
    height: 329.5px;
    width: 300px;
}

.container_2 {
    position: relative;
    width: 300px;
    height: 329.5px;
    bottom: 50px;
    right: 185px;
}

.container_3 {
    position: relative;
    height: 329.5px;
    width: 300px;
    bottom: 590px;
    left: 215px;
}

.container_4 {
    position: relative;
    width: 300px;
    height: 329.5px;
    bottom: 708px;
    left: 600px;
}

.btn-container {
    position: relative;
    width: 500px;
    bottom: 700px;
    left: 550px;
}

.container_result {
    position: relative;
    width: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    top: 50px;
}

.jumbo-ctn {
    background-color: transparent;
}

.jumbo-display {
    color: wheat;
}

.result {
    font-size: 55px;
}

.label-txt {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(https://rukminim1.flixcart.com/image/832/832/jmmce4w0/laptop-skin-decal/5/x/z/water-drop-exclusive-laptop-skin-sticker-decal-wallpaper-15-inch-original-imaf6bgwnkevy8a2.jpeg?q=70);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}